* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-footer-bgc: #1f2937;
  --primary-text: #f9faf8;
  --secondary-text: #e5e7eb;
  --button-bgc: #3882f6;
  --body-bgc: #ebf5f8;
}

.header-wrapper {
  background: var(--header-footer-bgc);
  color: var(--primary-text);
}

.header-container {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1080px;
  height: 80px;
  margin: 0 30px;
  font-size: 18px;
}

.logo {
  margin: 10px;
}

.links {
  margin-left: 20px;
}

.links ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.links ul li {
  margin: 10px;
  font-size: 16px;
}

.links ul li a {
  text-decoration: none;
  color: var(--primary-text);
}

.sub-header {
  display: flex;
  justify-content: space-between;
}

.sub-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 1080px;
  height: 500px;
  text-align: center;
}

.left p {
  margin-bottom: 10px;
}

.left a {
  text-decoration: none;
  color: var(--primary-text);
  background: var(--button-bgc);
  padding: 20px;
  width: 100px;
  height: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border-radius: 10px;
}

.img1 {
  width: 400px;
  height: 300px;
  border-radius: 5px;
}

.info-container {
  display: flex;
  justify-content: center;
}

.image-grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  width: 1080px;
  height: 500px;
  background: var(--body-bgc);
}

.grid-item img{
  height: 200px;
  width: 200px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 2px solid var(--button-bgc);
}